$background: #252A38;
$dark-background: #151820;
$foreground: #DCDCDC;
$primary: #2985FF;


$regular-text: 400;
$bold:600;
$lighter:300;

$mobile-title: 24px;
$mobile-subtitle:20px;
$mobile-button: 20px;
$mobile-body: 14px;
$mobile-secondary: 10px;

$tablet-title: 24px;
$tablet-subtitle:20px;
$tablet-button: 20px;
$tablet-body: 14px;
$tablet-secondary: 10px;

$desktop-title: 32px;
$desktop-subtitle:24px;
$desktop-button: 24px;
$desktop-body: 16px;
$desktop-secondary: 12px;

$mobile-gutters: 24px;
$mobile-card-separation:24px;
$mobile-section-spacing: 40px;
$mobile-card-padding: 16px;

$tablet-gutters: 32px;
$tablet-card-separation:32px;
$tablet-section-spacing: 48px;
$tablet-card-padding: 16px;

$desktop-gutters: 48px;
$desktop-card-separation:48px;
$desktop-section-spacing: 80px;
$desktop-card-padding: 24px;

body {
    background-color:$background;
    color: $foreground;
}

//Flex Parent for User Detail
.flexRow {
    display: flex;
    flex-direction: column;    
}
  
/*Flex Child for User Detail Create four equal columns */
.flexColumn {
    flex: 25%;
    padding: $desktop-section-spacing;
}

.flexAvatarContainer{
    display:flex;
    flex-direction: row;
    transform: translate(10%, -50%); 
    background-color: #252A3856;     
}

.textContainer{
    margin-left:20px;  
}

.fullName{
     margin-bottom: 40px;
     font-size: $desktop-title;
     text-align:center; 
}

.username-email {
    text-align: left;
    margin: 0%;
}
.userName {
    font-weight: bold;
}

.email {
    font-weight: lighter;
}

.heading{
    text-align: left;
}

//Cover Image for User Detail
.coverImage{
    width: 100%;
}

//Profile Image for User Detail
.profileImage{
    width:200px;
    border: 5px solid white;
    border-radius:50%; 
    position: relative;           
}

.flexCardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $desktop-card-separation;
}
.flexCard {
    flex: 25%;
    // margin-right: $desktop-card-separation;
    //margin-bottom: $desktop-card-separation;
    background-color: $dark-background;
}
.thumbNail{
    width: 100%;
}

.cardPadding {
    padding: $desktop-card-padding;
}

.alignTextLeft{
    text-align: left;
}

.topPadding {
    padding-top: $desktop-card-padding;
}

@media only screen and (max-width: 430px){

    body {
        width: 430px;
    }

    .flexRow {
        max-width: 430px;
    }

    .flexColumn {
        padding: 0;
    }
    
    .flexAvatarContainer {
        // max-width: 200px;
        .profileImage {
            max-width: 150px;
            max-height: 150px ;
        
        }

        .textContainer {
            .fullName {
                font-size: $mobile-title;
            }
            .userName {
                font-size: $mobile-body;
            }
            .email {
                font-size: $mobile-body;
            }
        }
    }

    .flexCardsContainer{
        flex-wrap: nowrap;
        gap: $mobile-card-separation;

        .flexCard {
            background-color: $dark-background;
        }
    }
}